spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: ${SPRING_DATASOURCE_DDL_AUTO}
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  data:
    redis:
      host: redis
      port: 6379

    mongodb:
      uri: mongodb://mongodb:27017/knugpt
      database: ${MONGO_DATABASE}

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        starttls:
          enable: true
        smtp:
          auth: true
          timeout: 5000
          starttls:
            enable: true

llm:
  server:
    host: ${LLM_SERVER_HOST}

logging:
  level:
    org.hibernate:
      type.descriptor.sql: trace
      SQL: DEBUG

jwt:
  secret: ${JWT_SECRET}
